.Node {
    position: absolute;
    width: 0;
    height: 0;
    transition: transform 0.01s 0s linear;
}

.nodeWrapper {
    position: absolute;
    width: 0;
    height: 0;
}

.nodeBackground {
    position: absolute;
    opacity: 0.9;
    top: 0;
    left: 0;
    z-index: -1;

    margin-left: -1px;
    margin-top: -1px;
    border: 2px solid var(--thirdary);
    overflow: hidden;
}

.header {
    opacity: 1;
    left: 0;
    top: 0;
    position: absolute;
    box-sizing: content-box;
    box-shadow: 0 0 0 1px var(--thirdary);
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header:hover {
    cursor: default;
    user-select: none;
}

.header::selection {
    user-select: none;
}

.header::-moz-selection {
    user-select: none;
}