:root {
    --primary: #586673;
    --secondary: #2a9f95;
    --thirdary: #3c454f;
    --border: #334447;
}

body {
    /*background-color: #6c7780;*/
    background-color: #74858f;

    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;


}

.App {
    text-align: center;
    overflow: hidden;

    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
}

/*Scrollbar*/
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #29998e;
    padding-bottom: 5px;
    padding-top: 5px;
    border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #1c665f;
}